@using Entities.Dtos;
@model List<AccountTreatmentsDto>
<table class="table" id="treatments-table">
    <thead>
        <tr>
            
            <th width="50">Tarih</th>
            <th>Diş</th>
            <th>Tedavi</th>
            <th>Doktor</th>
            <th>Fiyat</th>
            <th>İşlem</th>

        </tr>
    </thead>
    <tbody id="treatments-table-body">
        @if (Model.Count>0)
        {
            foreach (var item in Model)
            {
                <tr data-treatment-id="@item.Id" data-treatmentlist-id="@item.AccountsTariffLists_Id_Fk" data-doctor-id="@item.Doctor_SubAccounts_AspNetUsers_Id_Fk" data-masraf="@item.Cost" data-comment="@item.Comment">
                    <td>@item.Date</td>
                    <td>@item.Teeth</td>
                    <td>@item.Treatment</td>
                    <td>@item.Doctor_SubAccounts_AspNetUsers_Id_Fk_Name</td>
                    <td><span>@item.PriceWithVat.ToString("C2")</span></td>
                    <td class="text-center">
                        <div class="d-inline-flex">
                            <div class="dropdown">
                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                    <i class="ph-list"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a style="cursor:pointer" id="lefttablewidgettedavihesap" class="dropdown-item">
                                        <i class="fa fa-retweet me-2"></i>
                                        Hesap
                                    </a>
                                    <a style="cursor:pointer" id="lefttablewidgettedaviduzenle" class="dropdown-item">
                                        <i class="fa fa-pencil-alt me-2"></i>
                                        Düzelt
                                    </a>
                                    <a style="cursor:pointer" id="lefttablewidgettedavisil" class="dropdown-item">
                                        <i class="fas fa-trash me-2"></i>
                                        Sil
                                    </a>                                
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="disabled">
                <td></td>
                <td colspan="3" class="text-center">Sistemde Kayitli Veri Bulunamadi</td>
                <td><span>₺0.00</span></td>
            </tr>
        }
       
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-right">
                <strong><span id="LeftTableWidgetSum">Toplam: @ViewBag.TotalPrice.ToString("C2") TRY</span></strong>
            </td>
        </tr>
    </tfoot>
</table>

<div>
   @* <button type="submit" class="btn-tedavi-islem btn btn-custom btn-danger  waves-effect waves-light" disabled="" onclick="$.tedavi_sil();">
        <i class="fa fa-trash"></i>
        Sil
    </button>

    <button type="submit" class="btn-tedavi-islem btn btn-custom btn-default waves-effect waves-light duzelt" disabled="" onclick="$.tedavi_duzelt();" name="duzelt">
        <i class="fa fa-pencil"></i>
        Düzelt
    </button>*@

    @*<button type="submit" class="btn-tedavi-islem btn btn-custom btn-success waves-effect waves-light yuvarla" disabled="" onclick="$.fiyat_yuvarla();"><i class="fa fa-retweet"></i> Hesap</button>*@

    <button type="submit" class="btn-tedavi-islem btn btn-custom btn-inverse waves-effect waves-light hidden" name="tedaviye_kopyala" disabled="" onclick="$.tedaviye_kopyala();">
        <i class="fa fa-clone"></i>
        Tedaviye Aktar
    </button>

    <button type="submit" id="cikti" class="btn btn-custom btn-warning waves-effect waves-light"><i class="fa fa-print"></i> Yazdır</button>
</div>