<div class=" row">
    <div class="col-lg-8">

        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-9" style="float: left;">
                        <select id="actionlist" class="form-control form-control-select2">
                            @foreach (var item in ViewBag.ActionList)
                            {
                                <option value="@item.Id">@item.ActionName</option>
                            }
                        </select>
                    </div>
                    <div class="col-3" style="float: right;">
                        <button class="btn btn-teal"><i class="fas fa-user-plus">&nbsp;</i>Doktor Notu</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body container">
                <ul class="nav nav-tabs nav-tabs-highlight nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#js-tab1-1" class="nav-link active" data-bs-toggle="tab">
                            <i class="ph-user-circle me-2"></i>
                            Daimi Dişler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#js-tab2-1" class="nav-link" data-bs-toggle="tab">
                            <i class="ph-user-circle me-2"></i>
                            Süt Dişleri
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="js-tab1-1">
                        @*tab içerik başlangış*@
                        @Html.Partial("/Views/Patient/Teeth.cshtml")
                        @*tab içerik bitiş*@
                    </div>
                    <div class="tab-pane fade show" id="js-tab2-1">
                        @*tab içerik başlangış*@
                        @Html.Partial("/Views/Patient/Milk_Teeth.cshtml")
                        @*tab içerik bitiş*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body" id="left_table">
                @*@Html.Partial("/Views/Patient/Left_Table.cshtml")*@
            </div>
        </div>

    </div>

    <div class="col-lg-4">
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <h6>Hasta: @ViewBag.PatientName</h6>
                <div class="row">
                    <div class="col-lg-6">
                        <select id="doctor" class="form-control form-control-select2" data-container-css-class="border-primary">
                            @foreach (var item in ViewBag.Doctor)
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select id="tariffnames" class="form-control form-control-select2" data-container-css-class="border-primary">
                            @if (ViewBag.TariffNames.Count > 0)
                            {
                                foreach (var item in ViewBag.TariffNames)
                                {
                                    <option value="@item.Id">@item.TariffName</option>
                                }
                            }
                            else
                            {
                                <option value="0">Kayıt Yok!</option>
                            }

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <h6>TEDAVİLER</h6>
                <div class="row">
                    <select id="AccounttariffNamesCategories" class="form-control form-control-select2" data-container-css-class="border-primary">

                        <option value="Boş">BOŞ</option>

                    </select>
                </div>
                <div id="right_table">
                    @*@Html.Partial("/Views/Patient/Right_Table.cshtml")*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tedavi Düzenle Modal -->
<div id="modal_tedaviduzenle" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @* <form action="\Setting\CreateTariff" method="post">*@
            <div class="modal-header">
                <h5 class="modal-title">Tedavi Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tarih</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="tedaviduzenledatetime" class="form-control" type="datetime-local" name="datetime-local">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tedavi Adı</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenlename" disabled type="text" class="form-control">
                        @*<div class="form-text text-muted">Here goes your name</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Fiyat</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenleprice" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife, seçilen tarifedeki tedavilerden oluşacak</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Masraf</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenlecost" type="number" class="form-control">                        
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Doktor</label>
                    <div class="col-md-8">
                        <select id="tedaviduzenledoctor" class="form-control form-control-select2" data-container-css-class="border-primary">
                            @foreach (var item in ViewBag.Doctor)
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        </select>
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Açıklama</label>
                    <div class="col-md-8">
                        @*<input id="tedaviduzenleaciklama" type="text" class="form-control">*@
                        <textarea id="tedaviduzenleaciklama" type="text" class="form-control"></textarea>
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button id="tedaviduzenlebutton" type="button" class="btn btn-primary">Kaydet</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<!-- /Tedavi Düzenle Modal -->
<script>
    $("#actionlist").val(2).change();
    var actionListValue = $("#actionlist").val();
    var _patientId = '@ViewBag.PatientId';
    $.ajax({
        async: false,
        type: "POST",
        url: "/Patient/LeftTableWidget",
        data: { actionListId: actionListValue, patientId: _patientId },
        success: function myfunction(veri) {
            $("#left_table").html('');
            $("#left_table").html(veri);
        },
        error: function myfunction(veri) {
            alert("error");
        }
    });
</script>
<script>
    $("#actionlist").change(function () {
        var selectedValue = $(this).val();
        var _patientId = '@ViewBag.PatientId';
        if (selectedValue == 1) {

            //tedavi kategori diagnoz kategori olacak

            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/GetAccountDiagnozCategories",
                data: { id: selectedValue },
                success: function myfunction(data) {
                    var veriler = data;
                    $("#AccounttariffNamesCategories").empty();
                    if (veriler.length == 0) {
                        var optionElementi = $('<option>').attr('value', 0).text("Kayıt Yok!");
                        $("#AccounttariffNamesCategories").append(optionElementi);
                    }
                    $.each(veriler, function (i, veri) {
                        var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                        $("#AccounttariffNamesCategories").append(optionElementi);
                    });
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

            var categoryValue = $("#AccounttariffNamesCategories").val();

            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/RightTableDiagnozWidget",
                data: { categoryId: categoryValue, patientId: _patientId },
                success: function myfunction(data) {
                    $("#right_table").html('');
                    $("#right_table").html(data);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });
            //tedavi kategori diagnoz kategori olacak
            //left table yüklenecek
            //var actionListValue = $("#actionlist").val();

            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/LeftTableWidget",
                data: { actionListId: selectedValue, patientId: _patientId },
                success: function myfunction(veri) {
                    $("#left_table").html('');
                    $("#left_table").html(veri);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

        }
        else {
            var value = $("#tariffnames").val();
            //var _patientId = '@ViewBag.PatientId';

            $.ajax({
                async: false,
                type: "GET",
                url: "/Patient/GetAccountTariffNamesCategories",
                data: { id: value },
                success: function myfunction(data) {
                    var veriler = data;
                    $("#AccounttariffNamesCategories").empty();
                    if (veriler.length == 0) {
                        var optionElementi = $('<option>').attr('value', 0).text("Kayıt Yok!");
                        $("#AccounttariffNamesCategories").append(optionElementi);
                    }
                    $.each(veriler, function (i, veri) {
                        var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                        $("#AccounttariffNamesCategories").append(optionElementi);
                    });
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

            var categoryValue = $("#AccounttariffNamesCategories").val();

            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/RightTableWidget",
                data: { categoryId: categoryValue, patientId: _patientId },
                success: function myfunction(data) {
                    $("#right_table").html('');
                    $("#right_table").html(data);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });
            //Left table yüklenecek
            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/LeftTableWidget",
                data: { actionListId: selectedValue, patientId: _patientId },
                success: function myfunction(veri) {
                    $("#left_table").html('');
                    $("#left_table").html(veri);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

        }
        if (selectedValue == 1) {
            // Option A için işlemler
            $("#tedaviye_kopyala").hide();
        } else if (selectedValue == 2) {
            // Option B için işlemler
            $("#tedaviye_kopyala").hide();
        } else {
            // Diğer seçenekler için varsayılan işlemler
            var table = document.getElementById("treatments-table-body");
            console.log(table.rows.length);
            if (table.rows.length === 1) {
                var secondColumn = $("#treatments-table-body tr td:nth-child(2)");
                var shouldShow = secondColumn.text().trim() !== "Sistemde Kayıtlı Veri Bulunamadı.";

                if (shouldShow) {
                    $("#tedaviye_kopyala").show();
                } else {
                    $("#tedaviye_kopyala").hide();
                }
            }
            else{
                $("#tedaviye_kopyala").show();
            }                     
        }
    });
</script>
<script>
    $("#tariffnames").change(function () {
        var actionlistcontrol = $("#actionlist").val();
        if (actionlistcontrol == 1) {
            return;
        }
        var selectedValue = $(this).val();
        $.ajax({
            async: false,
            type: "GET",
            url: "/Patient/GetAccountTariffNamesCategories",
            data: { id: selectedValue },
            success: function myfunction(data) {
                var veriler = data;
                $("#AccounttariffNamesCategories").empty();
                if (veriler.length == 0) {
                    var optionElementi = $('<option>').attr('value', 0).text("Kayıt Yok!");
                    $("#AccounttariffNamesCategories").append(optionElementi);
                }
                $.each(veriler, function (i, veri) {
                    var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                    $("#AccounttariffNamesCategories").append(optionElementi);
                });
            },
            error: function myfunction(veri) {
                alert("error");
            }
        });

        var categoryValue = $("#AccounttariffNamesCategories").val();
        $.ajax({
            async: false,
            type: "POST",
            url: "/Patient/RightTableWidget",
            data: { categoryId: categoryValue, patientId: _patientId },
            success: function myfunction(data) {
                $("#right_table").html('');
                $("#right_table").html(data);
            },
            error: function myfunction(veri) {
                alert("error");
            }
        });
    });
</script>
<script>
    //$(document).ready(function myfunction() {
    var actionlistcontrol = $("#actionlist").val();
    if (actionlistcontrol == 1) {
        //return;
    }
    else {
        var selectedValue = $("#tariffnames").val();
        $.ajax({
            async: false,
            type: "GET",
            url: "/Patient/GetAccountTariffNamesCategories",
            data: { id: selectedValue },
            success: function myfunction(data) {
                var veriler = data;
                $("#AccounttariffNamesCategories").empty();
                if (veriler.length == 0) {
                    var optionElementi = $('<option>').attr('value', 0).text("Kayıt Yok!");
                    $("#AccounttariffNamesCategories").append(optionElementi);
                }
                $.each(veriler, function (i, veri) {
                    var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                    $("#AccounttariffNamesCategories").append(optionElementi);
                });
            },
            error: function myfunction(veri) {
                alert("error");
            }
        });
        var categoryValue = $("#AccounttariffNamesCategories").val();
        $.ajax({
            async: false,
            type: "POST",
            url: "/Patient/RightTableWidget",
            data: { categoryId: categoryValue, patientId: _patientId },
            success: function myfunction(data) {
                $("#right_table").html('');
                $("#right_table").html(data);
            },
            error: function myfunction(veri) {
                alert("error");
            }
        });
    }
    //});
</script>
<script>
    $("#AccounttariffNamesCategories").change(function () {
        var actionlistcontrol = $("#actionlist").val();
        var _patientId = '@ViewBag.PatientId';
        var selectedValue = $(this).val();
        if (actionlistcontrol == 1) {
            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/RightTableDiagnozWidget",
                data: { categoryId: selectedValue, patientId: _patientId },
                success: function myfunction(data) {
                    $("#right_table").html('');
                    $("#right_table").html(data);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });
        }
        else {
            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/RightTableWidget",
                data: { categoryId: selectedValue, patientId: _patientId },
                success: function myfunction(data) {
                    $("#right_table").html('');
                    $("#right_table").html(data);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });
        }
    });
</script>
<script>

    $(document).ready(function () {
        // Tablo satırlarına tıklama olayını belge düzeyinde dinleme
        $(document).on('click', '#oral-treatment-list tr', function () {
            if ($(this).hasClass('process-treatment')) {
                $(this).toggleClass('selected').siblings().removeClass('selected');
            }
        });
    });

    const container = document.querySelector('.container');

    container.addEventListener('click', function (e) {
        //console.log(e);
        if (e.target.classList.contains('teets')) {
            //e.target.classList.toggle('selected');
            /*calculateTotal() */
            const oral_treatment_list = document.querySelector('.oral-treatment-list');
            const selected_oral_treatment_list = oral_treatment_list.querySelectorAll('.selected');
            //console.log(selected_oral_treatment_list);
            if (selected_oral_treatment_list.length == 0) {
                alert("Tedavi Seçiniz.");
                return;
            }
            //console.log(selected_oral_treatment_list);
            //console.log(selected_oral_treatment_list[0].dataset);
            //console.log(selected_oral_treatment_list[0].dataset.tedaviId);
            //console.log(selected_oral_treatment_list[0].dataset.tedaviKod);
            //console.log(selected_oral_treatment_list[0].dataset.tedaviAdi);
            //console.log(selected_oral_treatment_list[0].dataset.tedaviMasraf);
            //console.log(selected_oral_treatment_list[0].dataset.tedaviFiyat);
            /*console.log(e.target.classList[1]);*/
            //console.log($('#treatments-table-body'));
            //console.log($('#treatments-table-body tr').length);

            //var ThisMonth = new Date().getMonth() + 1;
            //var ThisDay = new Date().getDate();
            //var ThisYear = new Date().getFullYear(); ThisMonth.toString()
            //var ThisDate = ThisDay.toString() + "." + ThisMonth.toString() + "." + ThisYear.toString();
            var ThisDate = "";
            /*console.log(ThisDate);*/

            let teet = e.target.classList[1];
            let result_teet = teet.substring(teet.indexOf("-") + 1);
            if (document.getElementById('treatments-table-body').rows[0].cells.item(1).innerHTML == "Sistemde Kayıtlı Veri Bulunamadı.") {
                document.getElementById('treatments-table-body').deleteRow(0);
            }
            var actionListValue = $("#actionlist").val();
            var _patientId = selected_oral_treatment_list[0].dataset.patientid;
            var _doctorId = $("#doctor").val();
            var _doctorName = $("#doctor").text();            
            var _masraf = selected_oral_treatment_list[0].dataset.tedaviMasraf;
            var treatmentId = "";

            var fiyat = selected_oral_treatment_list[0].dataset.tedaviFiyat;
            fiyat = fiyat.replace(',', '.');
            var _fiyat = parseFloat(fiyat);
            var stringfiyat = "₺" + _fiyat.toLocaleString('tr-TR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });

            //toplam string değerde işlem yapma
            var spanElement = document.getElementById("LeftTableWidgetSum");
            var text = spanElement.textContent.trim();

            // Rakamsal değeri almak için düzenli ifade kullanabiliriz
            var match = text.match(/\d{1,3}(?:\.\d{3})*(?:,\d{2})?/);

            var str = match[0];
            var yeniStr = "";

            for (var i = 0; i < str.length; i++) {
                if (str[i] !== '.') {
                    yeniStr += str[i];
                }
            }
            yeniStr = yeniStr.replace(',', '.');
            var _yeniStr = parseFloat(yeniStr);
            var total = _fiyat + _yeniStr;

            var stringtotal = "Toplam: " + "₺" + total.toLocaleString('tr-TR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + " TRY";

            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/TreatmentSaveDb",
                data: { listId: selected_oral_treatment_list[0].dataset.tedaviId, teet: result_teet, actionListId: actionListValue, patientId: _patientId, doctorId: _doctorId },
                success: function myfunction(veri) {
                    treatmentId = veri.treatmentId;
                    var date = new Date(veri.createDate);
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    var seconds = date.getSeconds();

                    var formattedDate = day + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds;
                    ThisDate = formattedDate;
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

            var islem = "<td class='text-center'><div class='d-inline-flex'><div class='dropdown'><a href='#' class='text-body' data-bs-toggle='dropdown'><i class='ph-list'></i></a><div class='dropdown-menu dropdown-menu-end'><a style='cursor:pointer' id='lefttablewidgettedaviduzenle' class='dropdown-item'><i class='fa fa-pencil-alt me-2'></i>Düzelt</a><a style = 'cursor:pointer' id = 'lefttablewidgettedavisil' class='dropdown-item'><i class='fas fa-trash me-2'></i>Sil</a></div></div></div></td>";

            $("#LeftTableWidgetSum").text(stringtotal);
            $('#treatments-table-body').prepend('<tr data-treatment-id="' + treatmentId + '" data-treatmentlist-id="' + selected_oral_treatment_list[0].dataset.tedaviId + '" data-doctor-id="' + _doctorId + '" data-masraf="' + _masraf + '"><td>' + ThisDate + '</td><td>' + result_teet + '</td><td>' + selected_oral_treatment_list[0].dataset.tedaviAdi + '</td><td>' + _doctorName + '</td><td>' + stringfiyat + '</td>' + islem + '</tr>');

        }
    });
</script>
<script>
    $(document).on('click', '#lefttablewidgettedavisil', function (e) {
        var tr = $(this).closest('tr');
        var treatmentId = tr.data('treatment-id');
        var tr = $(this).closest('tr');
        var tdValues = [];
        tr.find('td').each(function () {
            var value = $(this).text();
            tdValues.push(value);
        });

        var cevap = confirm(tdValues[2] + " silinmesine emin misiniz?");
        if (cevap) {
            $.ajax({
                async: false,
                url: "/Patient/DelAccountsTreatments",
                type: "POST",
                data: { Id: treatmentId },
                success: function (data) {
                    //toplam string değerde işlem yapma
                    var spanElement = document.getElementById("LeftTableWidgetSum");
                    var text = spanElement.textContent.trim();

                    // Rakamsal değeri almak için düzenli ifade kullanabiliriz
                    var match = text.match(/\d{1,3}(?:\.\d{3})*(?:,\d{2})?/);

                    var str = match[0];
                    var yeniStr = "";

                    for (var i = 0; i < str.length; i++) {
                        if (str[i] !== '.') {
                            yeniStr += str[i];
                        }
                    }
                    yeniStr = yeniStr.replace(',', '.');
                    var _yeniStr = parseFloat(yeniStr);

                    var _fiyat = tdValues[4].replace('₺', '');
                    var yeniStrFiyat = "";
                    for (var i = 0; i < _fiyat.length; i++) {
                        if (_fiyat[i] !== '.') {
                            yeniStrFiyat += _fiyat[i];
                        }
                    }
                    yeniStrFiyat.replace(',', '.');

                    var total = _yeniStr - parseFloat(yeniStrFiyat);

                    var stringtotal = "Toplam: " + "₺" + total.toLocaleString('tr-TR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + " TRY";
                    $("#LeftTableWidgetSum").text(stringtotal);

                    tr.remove();
                    var table = document.getElementById("treatments-table-body");                    
                    if (table.rows.length === 0) {
                        $('#treatments-table-body').prepend("<tr class='disabled'><td></td><td colspan='3' class='text-center'>Sistemde Kayıtlı Veri Bulunamadı.</td><td><span>₺0.00</span></td></tr>");
                    }

                    alert(data);
                }
            });
        }
        else {
            alert("İptal Edildi!");
        }
    });
</script>
<script>
    $(document).on('click', '#lefttablewidgettedaviduzenle', function (e) {
        var tr = $(this).closest('tr');
        var treatmentId = tr.data('treatment-id');        
        var doctorId = tr.data('doctor-id');
        var cost = tr.data('masraf');
        console.log(cost);
        var comment = tr.data('comment');
        //$("#tedaviduzenlecategory").val(categoryId).change();
        var tdValues = [];
        tr.find('td').each(function () {
            var value = $(this).text();
            tdValues.push(value);
        });        
        
        
        var tdValue = tdValues[0];
        // Tarihi parçalara ayırın
        var dateParts = tdValue.split(' ')[0].split('.');
        var timeParts = tdValue.split(' ')[1].split(':');

        // Tarih nesnesini oluşturun
        var year = parseInt(dateParts[2], 10);
        var month = parseInt(dateParts[1], 10);
        var day = parseInt(dateParts[0], 10);
        var hours = parseInt(timeParts[0], 10);
        var minutes = parseInt(timeParts[1], 10);
        var seconds = parseInt(timeParts[2], 10);
        
        //var date = new Date(year, month, day, hours, minutes, seconds);
        var date = year + "-" + ('0' + month).slice(-2) + "-" + ('0' + day).slice(-2) + "T" + ('0' + hours).slice(-2) + ":" + ('0' + minutes).slice(-2) + ":" + ('0' + seconds).slice(-2);
        //console.log(date.toISOString().slice(0, 16));
        //console.log(date);
        $("#tedaviduzenledatetime").val(date);
        $("#tedaviduzenlename").val(tdValues[2]);
        $("#tedaviduzenlename").data("treatment-id", treatmentId);
                
        $("#tedaviduzenleprice").val(tdValues[4].replace(',', '.').replace("₺", ""));
        var formattedCost = cost.replace(',', '.');
        var roundedCost = parseFloat(formattedCost).toFixed(2);
        $("#tedaviduzenlecost").val(roundedCost);

        //doktorlar silinirse ne yapacağım bilmiyorum
        $("#tedaviduzenledoctor").val(doctorId).change();

        $("#tedaviduzenleaciklama").val(comment);

        $("#modal_tedaviduzenle").modal('show');

    });

    $(document).on('click', '#tedaviduzenlebutton', function (e) {
        var _treatmentId = $("#tedaviduzenlename").data("treatment-id");        
        var _treatmentName = $("#tedaviduzenlename").val();
        var _price = $("#tedaviduzenleprice").val();        
        var _cost = $("#tedaviduzenlecost").val();
        var _dateTime = $("#tedaviduzenledatetime").val();
        var _doctorId = $("#tedaviduzenledoctor").val();
        var _doctorName = $("#tedaviduzenledoctor").text();
        var _comment = $("#tedaviduzenleaciklama").val();

        $.ajax({
            async: false,
            url: "/Patient/UpdateAccountsTreatments",
            type: "POST",
            data: { treatmentId: _treatmentId, treatmentName: _treatmentName, price: _price, cost: _cost, dateTime: _dateTime, doctorId: _doctorId, comment: _comment },
            success: function (data) {
                alert(data);
            }
        });
        var targetRow = $("tr[data-treatment-id='" + _treatmentId + "']");
        
        var date = new Date(_dateTime);
        targetRow.find("td").eq(0).text(date.toLocaleString());
        targetRow.find("td").eq(3).text(_doctorName);
        _price = _price.replace('.', ',');
        _price = "₺" + _price;
        targetRow.find("td").eq(4).text(_price);        
        targetRow.data("masraf", _cost.replace('.', ','));
        targetRow.data("comment", _comment);
        
        $("#modal_tedaviduzenle").modal('hide');

    });
</script>