<div class=" row">
    <div class="col-lg-8">

        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-9" style="float: left;">
                        <select id="actionlist" class="form-control form-control-select2">
                            @foreach (var item in ViewBag.ActionList)
                            {
                                <option value="@item.Id">@item.ActionName</option>
                            }
                        </select>
                    </div>
                    <div class="col-3" style="float: right;">
                        <button class="btn btn-teal"><i class="fas fa-user-plus">&nbsp;</i>Doktor Notu</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body container">
                <ul class="nav nav-tabs nav-tabs-highlight nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#js-tab1-1" class="nav-link active" data-bs-toggle="tab">
                            <i class="ph-user-circle me-2"></i>
                            Daimi Dişler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#js-tab2-1" class="nav-link" data-bs-toggle="tab">
                            <i class="ph-user-circle me-2"></i>
                            Süt Dişleri
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="js-tab1-1">
                        @*tab içerik başlangış*@
                        @Html.Partial("/Views/Patient/Teeth.cshtml")
                        @*tab içerik bitiş*@
                    </div>
                    <div class="tab-pane fade show" id="js-tab2-1">
                        @*tab içerik başlangış*@
                        @Html.Partial("/Views/Patient/Milk_Teeth.cshtml")
                        @*tab içerik bitiş*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body" id="left_table">
                @*@Html.Partial("/Views/Patient/Left_Table.cshtml")*@
            </div>
        </div>

    </div>

    <div class="col-lg-4">
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <h6>Hasta: Ferhat Işık</h6>
                <div class="row">
                    <div class="col-lg-6">
                        <select id="doctor" class="form-control form-control-select2" data-container-css-class="border-primary">
                            @foreach (var item in ViewBag.Doctor)
                            {
                                <option value=@item.Value>@item.Text</option>
                            }                            
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select id="tariffnames" class="form-control form-control-select2" data-container-css-class="border-primary">
                            @foreach (var item in ViewBag.TariffNames)
                            {
                                <option value="@item.Id">@item.TariffName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
            <div class="card-body">
                <h6>TEDAVİLER</h6>
                <div class="row">
                    <select id="AccounttariffNamesCategories" class="form-control form-control-select2" data-container-css-class="border-primary">

                        <option value="Boş">BOŞ</option>

                    </select>
                </div>
                <div id="right_table">
                    @*@Html.Partial("/Views/Patient/Right_Table.cshtml")*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var actionListValue = $("#actionlist").val();
    var _patientId = '@ViewBag.PatientId';
    $.ajax({
        async: false,
        type: "POST",
        url: "/Patient/LeftTableWidget",
        data: { actionListId: actionListValue, patientId: _patientId },
        success: function myfunction(veri) {
            $("#left_table").html('');
            $("#left_table").html(veri);
        },
        error: function myfunction(veri) {
            alert("error");
        }
    });
</script>
<script>
    $("#actionlist").change(function () {
        var selectedValue = $(this).val();
        
        if (selectedValue == 1) {

            var actionListValue = $("#actionlist").val();
            var _patientId = '@ViewBag.PatientId';
            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/LeftTableWidget",
                data: { actionListId: actionListValue, patientId: _patientId },
                success: function myfunction(veri) {
                    $("#left_table").html('');
                    $("#left_table").html(veri);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

        }
        else {
            var actionListValue = $("#actionlist").val();
            var _patientId = '@ViewBag.PatientId';
            $.ajax({
                async: false,
                type: "POST",
                url: "/Patient/LeftTableWidget",
                data: { actionListId: actionListValue, patientId: _patientId },
                success: function myfunction(veri) {
                    $("#left_table").html('');
                    $("#left_table").html(veri);
                },
                error: function myfunction(veri) {
                    alert("error");
                }
            });

        }        
    });
</script>
<script>
    $("#tariffnames").change(function () {
        var selectedValue = $(this).val();
        $.get("/Patient/GetAccountTariffNamesCategories", { id: selectedValue }, function (data) {
            var veriler = data;
            $("#AccounttariffNamesCategories").empty();
            $.each(veriler, function (i, veri) {
                var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                $("#AccounttariffNamesCategories").append(optionElementi);
            });
        });
    });
</script>
<script>
    //$(document).ready(function myfunction() {
    var selectedValue = $("#tariffnames").val();
    $.ajax({
        async: false,
        type: "GET",
        url: "/Patient/GetAccountTariffNamesCategories",
        data: { id: selectedValue },
        success: function myfunction(data) {
            var veriler = data;
            $("#AccounttariffNamesCategories").empty();
            $.each(veriler, function (i, veri) {
                var optionElementi = $('<option>').attr('value', veri.id).text(veri.categoryName);
                $("#AccounttariffNamesCategories").append(optionElementi);
            });
        },
        error: function myfunction(veri) {
            alert("error");
        }
    });
    var categoryValue = $("#AccounttariffNamesCategories").val();
    $.ajax({
        async: false,
        type: "POST",
        url: "/Patient/RightTableWidget",
        data: { categoryId: categoryValue, patientId: _patientId },
        success: function myfunction(data) {
            $("#right_table").html('');
            $("#right_table").html(data);
        },
        error: function myfunction(veri) {
            alert("error");
        }
    });
    //});
</script>
<script>
    $("#AccounttariffNamesCategories").change(function () {
        var selectedValue = $(this).val();
        $.ajax({
            async: false,
            type: "POST",
            url: "/Patient/RightTableWidget",
            data: { categoryId: selectedValue, patientId: _patientId },
            success: function myfunction(data) {
                $("#right_table").html('');
                $("#right_table").html(data);
            },
            error: function myfunction(veri) {
                alert("error");
            }
        });
    });
</script>